button#addExtraSymbol{
    width: 33px;
    height: 33px;
}
table#extraSymbolsTable{
    width: 330px;
}
table#extraSymbolsTable td{
    text-align: center !important;
}
.extraSymbol img{
    width: 25px;
    height: 25px;
}
#gpxedit .upload-symbol-field{
    display: none;
}
#gpxedit .icon-upload{
    padding: 8px 16px;
    min-width: 16px;
    min-height: 16px;
}
#gpxedit .icon-delete{
    padding-top: 12px;
    width: 28px;
    height: 28px;
}
