button#addExtraSymbol{
    width: 33px;
    height: 33px;
}
table#extraSymbolsTable{
    width: 330px;
}
table#extraSymbolsTable td{
    text-align: center !important;
}
.extraSymbol img{
    width: 25px;
    height: 25px;
}
#gpxedit .upload-symbol-field{
    display: none;
}
#gpxedit .icon-delete{
    padding-top: 12px;
    width: 28px;
    height: 28px;
}

#gpxedit form {
    display: flex;
    align-items: center;
}

#gpxedit form input[type="text"],input[type="password"] {
    flex-grow: 1;
    margin-left: 4px;
}